:root{
    --Darkmode: #2b2a2a;
    --colorprincipal:#e0edfc;
    --textcolor:#EBF0F2;
    --textcolorsun: #252525;
}



html.light{
    background-image: url('../assets/img/main-bg2.svg');
    background-size: cover; 
    background-position: center center; 
   color: var(--textcolorsun)
}

html.light  .ph-sun,
html:not(.light) .ph-moon  {
    display:none;
    
}

html.light .ph-moon{
color: rgb(3, 163, 255);
}

html:not(.light) .ph-sun{
    color: rgb(184, 3, 255);
    }
    

html:not(.light) .container{
    background-color: #020000 ;
    box-shadow: 0px 0px 30px 20px rgba(177, 54, 248, 0.308); 
}

#toggle-mode{
  
    margin-top: 0.2rem;
    font-size: 2.2rem;
    line-height: none;
    background-color: transparent;
    border-radius: 999rem;
    border: 0;
    cursor: pointer;
    color: var(--textcolor);

}

html{ 
    background-image: url('../assets/img/main-bg.svg');
    background-size: cover; 
    background-position: center center; 
    color: var(--textcolor);
    
}


.sr-only{
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    
    margin: -1px;
    padding: 0;
    border: 0;
    appearance: none;
}

